*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;

}
.img1{
    width: 60px;
    height: 60px;
}
.carousel-item{
    position: relative;
}
.carousel-item img{
    height: 50vh;
    display: block;
    
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.carousel-inner .carousel-caption p{
    color: white;
    font-weight: 1000;
    text-align: center;
    font-size: 3em;

}
.carousel-inner .carousel-caption .btn{
    cursor: pointer;
}
section main{
    height: 100vh;
    margin-bottom: 0;
}


#option{
    background-image: url(homepag.jpeg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#cool{
    margin-top: 1em;
    
}
.card-img-top{
    height: 300px;
}

#option p{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding-top: 3em;
}


footer{
    margin-bottom: -45em;
}
.software{
background-image: url(data1.jpg);
background-repeat: no-repeat;
background-size: cover;
}
h1{
    text-align: center;
    font: 400px serif;
 }
.network{
    background-image:url(data2.jpg) ;
    background-repeat: no-repeat;
background-size: cover;
}
.database{
    background-image:url(data3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.coolmen{
    text-align: center;
    border-radius: 8px;
    width: 500px;
    background: linear-gradient(to right,rgba(23, 1, 27, 0.7),rgba(204, 94, 255, 0.8)) ;
    height: 300px;
    backdrop-filter: blur(5px);
     
}
#mainelement{
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)),url(softwareback.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 10%;
    padding-left: 35%;
}
 .coolmen{
    backdrop-filter: blur;
 }
 .coolmen h2 {
    color: white;
}
.coolmen label{
    color: white;
}
.coolmen p{
    color: white;
}
#form1{
    background-image: url(form3.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}
#form1 .mmgf{
    color: white;
}
#form1 .form form{
    background-color: white;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 800px;
    border-radius: 8px;
    margin: 10px auto;
} 
.glass-effect{
    margin:auto;
    display: inline-block;
    padding: 1rem 4rem;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    font: 400 1.2rem serif ;
    color:#111;
    border: 1px solid rgba(225,255,255, 0.35);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    outline: none;
    cursor: pointer;
width: 300px;

    
}
.btn-outline-success me-2{
    text-decoration: none;

}
.btn-outline-success{
    text-decoration: none;
}
.container-fluid{
       background: linear-gradient(135deg, #0d47a1 0%, #1976d2 100%);
color: #fff;
}
.collapse ul li a{
    color: #fff;
}
.carousel {
border-radius: 510em;
padding: 55px;
    
}
.display-3 {
    color: #fff;
    padding-left: 5em;


}
.gradient-overlay{
    background: linear-gradient(to right,rgb(131, 131, 218,),rgb(79, 79, 226));
}
.col{
     background-color: #B3CFE5; padding-top: 50px; 
         border-radius: 25px; border: none; transition: transform 0.3s; 
        transform: translateY(-5px); 
         border-radius: 50px; padding: 8px 25px; 
         font-size: 2rem; opacity: 0.8; 
}
.option{
    font-family: 'Times New Roman', Times, serif;
}
.hero-bg {
            background: linear-gradient(135deg, #0d47a1 0%, #1976d2 100%);
            color: white;
        }
.nav-link { 
            color: white ;
             font-size: 0.9rem;
             margin-left: 15px; 
        }
    form button a{
        text-decoration: none;
    }
